#editor {
  border-radius: 2em;
}

#editor-card {
  border-radius: 1em;
  margin-top: 40px;
  padding: 10px;
}

.edit > * {
  margin: 8px 0 0 8px;
}

.card {
  margin-bottom: 10px;
}

.card-header .fa {
  transition: .3s transform ease-in-out;
}
.card-header .collapsed .fa {
  transform: rotate(90deg);
}
