.h2 Lessons

.card.bg-light.mb-3(*ngFor='let lesson of lessons')
  .row.no-gutters
    .col-md-4
      img.card-img(src=`{{lesson.imageURL.cloudinary}}` alt='' height='100')
    
    .card-body
      .h5.card-title {{lesson.title}}
      .h6.card-subtitle.mb-2.text-muted {{lesson.translation}}
