.h2 Login

br

form((ngSubmit)="onLoginSubmit()")

  //.alert.alert-danger(role="alert" *ngIf="formErrors") {{ formError }}

  .form-group.row
    .col-12.col-sm-10
      input.form-control([(ngModel)]='credentials.email' type="email" autocomplete="username" name="email" placeholder="Email address")

  .form-group.row
    .col-12.col-sm-10
      input.form-control([(ngModel)]='credentials.password' type="password" autocomplete="new-password" name="password" placeholder="Password")


  .col-12.col-sm-10
    button(type="submit").btn.btn-success.btn-primary.float-right Submit

.p.text-muted.small Not a member yet? Please #[a(routerLink="register") register] first.

br
