extends layout

block content
  .row.banner
    .col-12
      h1= pageHeader.title
  .row
    .col-12.col-md-8
      form#updateLesson(action="", method="post", role="form")


        .form-group.row
          label.col-10.col-sm-2.col-form-label(for="title") Title
          .col-12.col-sm-10
            input#title.form-control(name="title" value=`${lesson.title}`)

        .form-group.row
          label.col-10.col-sm-2.col-form-label(for="translation") Translation
          .col-12.col-sm-10
            input#translation.form-control(name="translation" value=`${lesson.translation}`)

        .form-group.row
          label.col-10.col-sm-2.col-form-label(for="cloudinary") Cloudinary Image URL
          .col-12.col-sm-10
            input#cloudinary.form-control(name="cloudinary" value=`${lesson.imageURL.cloudinary}`)

        button.btn.btn-primary.float-right Update Lesson
