<div class='container'>

  <h2>Courses</h2>

  <div class='card text-decoration-none bg-light mb-3' *ngFor='let course of courses'>
    <div class='card-body'>

      <a routerLink='/courses/{{course._id}}'>
        <h5 class='card-title'>{{course.title}}</h5>
      </a>

      <div class='edit'>
        <a class='text-dark' routerLink='/courses/edit/{{course._id}}'><i class="bi bi-pencil-square"></i></a>
        <a class='text-dark' href='#'><i class="bi bi-trash"></i></a>
        <a class='text-dark' href='#'><i class="bi bi-list"></i></a>
      </div>

    </div>
  </div>
</div>
